{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | All QuiZ {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quizs.css') }}" />
{% endblock %}

{% block body %}

    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <table>
        {# table body #}
        {% for quiz in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>ID {{ quiz.id }}</td>
        </tr>
        {% endfor %}
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

